header mat-toolbar {
	--header-icon-width: calc(24px + .8rem * 2 + 10px);
	margin: 0;
	padding: 0;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: 100%;
	grid-template-columns: var(--header-icon-width) auto var(--header-icon-width);
}

header mat-toolbar span {
	width: 100%;
	display: block;
	text-align: left;
}

main {
	height: 100%;
	overflow-y: auto;
}

main>video {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	position: sticky;
	background-color: black;
}

main[loading=true]>div {
	display: flex;
	overflow: hidden;
	padding-top: 2rem;
	justify-content: center;
}

main>div {
	height: 100%;
	background-color: white;
}

main>div mat-expansion-panel {
	background-color: #e0e0e0;
}

main>div #expansion-description {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

main>div ul#queue>li[selected=true] {
	background-color: rgba(0, 0, 0, .2);
}

main>div ul#queue>li>span:first-child {
	flex: unset;
	margin-right: 5%;
}