<header>
	<mat-menu #headerMenu="matMenu">
		<button mat-menu-item matRipple (click)="selectSubtitle()">Subtitles</button>
	</mat-menu>

	<mat-toolbar color="primary">
		<mat-icon routerLink="/" matRipple aria-hidden="false" aria-label="Back icon" role="button">arrow_back</mat-icon>
		<span>{{ title }}</span>

		<mat-icon [matMenuTriggerFor]="headerMenu" matRipple aria-hidden="false" aria-label="Overflow menu" role="button">more_vert</mat-icon>
	</mat-toolbar>
</header>

<main [attr.loading]="loadingState">
	<video #video controls></video>

	<div *ngIf="loadingState">
		<mat-spinner color="accent" diameter="50"></mat-spinner>
	</div>

	<div *ngIf="!loadingState">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Queue</mat-panel-title>
				<mat-panel-description>
					{{ player.queue.selected }}
				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-menu #queueMenu="matMenu">
				<button matRipple mat-menu-item (click)="videoMenuClick(videoMenuClickTypes.REMOVE_QUEUE)">Remove from queue</button>
			</mat-menu>
			<ul *ngIf="player !== undefined && player.queue.length > 0" id="queue">
				<li matRipple matRippleColor="#bdbdbd60"
					*ngFor="let video of player.queue.list; let i = index"
					[attr.selected]="player.queue.index === i"
					(click)="queueClick($event, i)">

					<span>{{ i + 1}}</span>
					<span>{{ video }}</span>
					<mat-icon [matMenuTriggerFor]="queueMenu" matRippleColor="#bdbdbd60" role="button" aria-label="Overflow menu icon" matRipple>more_vert</mat-icon>
				</li>
			</ul>
		</mat-expansion-panel>

		<mat-menu #videoMenu="matMenu">
			<button mat-menu-item matRipple (click)="videoMenuClick(videoMenuClickTypes.PLAY)">Play</button>
			<button mat-menu-item matRipple (click)="videoMenuClick(videoMenuClickTypes.ADD_QUEUE)">Add to queue</button>
			<button mat-menu-item matRipple (click)="videoMenuClick(videoMenuClickTypes.PLAY_NEXT)">Play next</button>
		</mat-menu>
		<ul *ngIf="videos.length > 0">
			<li matRipple matRippleColor="#bdbdbd60" (click)="videoClick($event, video)" *ngFor="let video of videos">
				<span>{{ video }}</span>
				<mat-icon [matMenuTriggerFor]="videoMenu" matRippleColor="#bdbdbd60" role="button" aria-label="Overflow menu icon" matRipple>more_vert</mat-icon>
			</li>
		</ul>
	</div>
</main>