<h1 mat-dialog-title id="title">Background Sync Log</h1>
<mat-divider></mat-divider>
<div mat-dialog-content id="content">
	<p><span [attr.bool]="swInstalled ? true : false"></span>Service Worker installed: {{ swInstalled ? true : false }}</p>
	<p><span [attr.bool]="bgSyncAvailable"></span>Background Sync available: {{ bgSyncAvailable }}</p>
	<mat-divider></mat-divider>
	<i *ngIf="log.length < 1">No log entries</i>
	<div *ngIf="log.length > 0">
		<p *ngFor="let entry of log">{{ entry }}</p>
	</div>
</div>
<div mat-dialog-actions align="end">
	<button mat-button (click)="close()" cdkFocusInitial>Close</button>
</div>